.text-base {
  font-size: 16px;
}

.text-sm {
  font-size: 14px !important;
}

a:hover {
  text-decoration: none;
}
.heading-light-black{
  color: #282828 !important;
}
.heading-light-orange{
  color: #ff7557 !important;
}
@media only screen and (max-width: 1026px) {
  .border-mobile-0 {
    border-bottom: none !important;
  }
}
