
  .padding-xl {
    padding: 0px 16px;
  }
  @media (min-width: 767px) and (max-width: 991px) {
    .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width:100%;
  }

  }
@media (min-width: 1280px) and (max-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1170px;
  }

  .padding-xl {
    padding: 0px 21px;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }

  .padding-xl {
    padding: 0px 21px;
  }
}

@media (min-width: 1500px) and (max-width: 2000px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1330px;
  }

  .padding-xl {
    padding: 0px 21px;
  }
}
