//---- Dark Theme design
.dark-theme {
}
//---- Light Theme design
.light-theme {
}
.career-page {
  overflow-x: hidden;
  &.services-page .consultation-bar {
    background: $black;
  }
  .inner-banner {
    position: relative;

    .icon {
      &.top.right {
        right: -120px;
      }
      &.left.bottom {
        left: -120px;
        bottom: -120px;
      }
    }
  }

  .dream-section {
    position: relative;
    background: #fff;
    .icon {
      position: absolute;
      &.right.top {
        right: 50px;
        top: 0;
      }
    }
  }

  .job-section {
    background: #fff;
    .job-content {
      padding: 0 60px;
    }
    .list-group {
      padding-right: 0;
      .list-item {
        cursor: pointer;
        border-radius: 0;
        border-top: 1px solid #e0e3ed;
        padding: 24px 10px 24px 10px;
        margin-bottom: 0;
        background: #fff;
        position: relative;
        h5 {
          font-family: $apercu-bold;
          font-size: 1.45rem;
        }
        span,
        p {
          letter-spacing: -0.26px;
          font-size: 18px;
          opacity: 0.8;
        }

        /* &:hover {
          border-color: $color-lotus;
          box-shadow: 0px 0px 20px #7856ff2e;

          h5 {
            color: $color-lotus;
          }

          span,
          p {
            opacity: 1;
          }
        } */
        .right-nav {
          position: absolute;
          right: 0;
          top: 24px;
        }
      }
      .selected {
        // border-color: $color-lotus;
        // box-shadow: 0px 0px 20px #7856ff2e;

        h5 {
          color: $color-lotus;
        }

        span,
        p {
          opacity: 1;
        }
      }
    }

    .list-detail {
      .heading {
        h3 {
          font-family: $apercu-bold;
          font-size: 2rem;
        }

        span {
          em {
            color: #cfcfcf;
            font-style: normal;
            padding: 0 6px;
          }
        }
      }

      .job-detail {
        .action {
          border-bottom: 1px solid #e0e3ed;
        }

        p {
          font-size: 18px;
          letter-spacing: -0.27px;
        }

        ul {
          padding-left: 20px;

          li {
            margin-bottom: 12px;
            letter-spacing: -0.27px;
            font-size: 18px;
          }
        }
      }

      .form-section {
        .action {
          .back-link {
            background: none;
            color: $color-lotus;
            padding: 16px 0;
            border: none;
          }
        }
        .form-group {
          min-height: 110px;
          margin: 0;
        }
        label {
          font-weight: bold;
          text-transform: capitalize;
        }

        input {
          height: 50px;
          border-color: #cfd6e4;
          border-radius: 8px;
        }
      }
    }
  }
}
.job-detail-main,
.job-modal {
  padding: 0 26px;
  position: relative;
  .close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    border-radius: 50%;
    background: #7856ff;
    padding: 6px;
    img {
      width: 26px;
    }
  }
  .heading {
    padding-top: 60px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e3ed;
    h3 {
      font-family: $apercu-bold;
      font-size: 2rem;
    }

    span {
      em {
        color: #cfcfcf;
        font-style: normal;
        padding: 0 6px;
      }
    }
  }
  .job-detail {
    padding: 20px 0 30px 0;
    position: relative;
    .action {
      position: absolute;
      top: -73px;
      padding-left: 470px;
    }

    p {
      font-size: 18px;
      letter-spacing: -0.27px;
    }

    ul {
      padding-left: 20px;

      li {
        margin-bottom: 12px;
        letter-spacing: -0.27px;
        font-size: 18px;
      }
    }
  }
  .form-section {
    position: relative;
    padding: 30px 0 0 0;
    .action {
      position: absolute;
      top: -81px;
      right: 0;
      .back-link {
        color: $color-lotus;
        background: #fafafa;
        border: 2px solid #cfcfcf;
        padding: 12px 20px;
        border-radius: 8px;
        min-width: 148px;
      }
    }
    .form-group {
      min-height: 110px;
      margin: 0;
    }
    label {
      font-weight: bold;
      text-transform: capitalize;
    }

    input {
      height: 50px;
      border-color: #cfd6e4;
      border-radius: 8px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .job-detail-main .job-detail .action,
  .job-modal .job-detail .action {
    position: relative;
    top: 0;
    padding-left: 0;
    border-bottom: 1px solid #e0e3ed;
  }
  .job-detail-main .job-detail,
  .job-modal .job-detail {
    padding: 10px 0 30px 0;
    position: relative;
  }
  .job-detail-main .heading,
  .job-modal .heading {
    border-bottom: none;
  }
  .job-detail-main .form-section .action,
  .job-modal .form-section .action {
    position: relative;
    top: 0;
    right: 0;
    margin:0px 0 25px 0;
    border-bottom: 1px solid #e0e3ed;
  }
  .job-detail-main .form-section .action .back-link, .job-modal .form-section .action .back-link {
    margin: 0 0 10px 0;
}
  .job-detail-main .form-section,
  .job-modal .form-section {
    position: relative;
    padding: 0;
  }
  .job-detail-main .heading h3, .job-modal .heading h3 {
    font-size: 1.7rem;
}
}
/* for mobile */
@media only screen and (max-width: 767px) {
  .career-page.services-page .inner-banner .icon img {
    width: 40%;
  }

  .career-page .inner-banner .icon.top.right {
    right: -200px;
  }

  .career-page .inner-banner .icon.left.bottom {
    left: -50px;
    bottom: -50px;
  }

  .career-page .dream-section .icon.right.top {
    right: 30px;
    top: 0;
    text-align: right;

    img {
      width: 50%;
    }
  }

  .services-page.career-page .dream-section {
    padding: 90px 0 60px 0;
  }

  .career-page .job-section .list-group {
    height: auto;
    overflow-y: hidden;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .career-page .job-section .job-content {
    padding: 0;
  }
  .career-page .job-section .list-group .list-item {
    padding: 10px 30px 10px 0;
  }
  .career-page .job-section .list-group .list-item h5 {
    font-size: 1.2rem;
  }
  .career-page .job-section .list-group .list-item span,
  .career-page .job-section .list-group .list-item p {
    font-size: 16px;
  }
  .job-detail-main,
  .job-modal {
    padding: 0 6px;
  }
}

/* ipad portrait */
@media only screen and (max-width: 990px) and (min-width: 767px) {
  .career-page .inner-banner .icon.top.right {
    right: -180px;
    top: 120px;
  }

  .career-page .inner-banner .icon.left.bottom {
    left: -90px;
    bottom: -70px;
  }

  .career-page .inner-banner .content {
    min-height: 420px;
  }
  .career-page .job-section .job-content {
    padding: 0;
  }
  .career-page .job-section .list-group .list-item {
    padding: 14px ​10px 14px 10px;
  }
  .career-page .job-section .list-group .list-item h5 {
    font-size: 1.2rem;
  }
  .career-page .job-section .btn.lg {
    margin: 100px 0 0 0;
  }
  .career-page .job-section .action .btn.lg {
    margin: 0;
  }
  .job-detail-main,
  .job-modal {
    padding: 0 10px;
  }
}

/* ipad Landsacpe */
@media only screen and (max-width: 1190px) and (min-width: 991px) {
  .career-page .inner-banner .icon.top.right {
    right: -160px;
    top: 120px;
  }

  .career-page .inner-banner .icon.left.bottom {
    left: -90px;
    bottom: -70px;
  }
  .services-page.career-page .dream-section .content,
  .career-page .job-section .job-content {
    padding: 0;
  }
  .career-page .job-section .list-group .list-item {
    padding: 18px 10px;
  }
  .career-page .job-section .list-group .list-item h5 {
    font-size: 1.2rem;
  }
  .job-detail-main,
  .job-modal {
    padding: 0;
  }
  .job-detail-main .heading h3, .job-modal .heading h3 {
    font-size: 1.8rem;
}
}

/* for mobile */
@media only screen and (min-width: 1200px) {
}
