//---- Dark Theme design
.dark-theme {
}
//---- Light Theme design
.light-theme {
}

.case-study {
  .content-main {
    h4 {
      font-size: 32px;
      padding-top: 28px;
      font-family: $apercu-pro-regular;
    }
  }
}

.case-study {
  .inner-banner {
    position: relative;
    background: #434343;
    .close-icon {
      position: fixed;
      right: 50px;
      z-index: 99;
      top: 50px;
      border-radius: 50%;
      background: #08080894;
      padding: 10px;
      button {
        border: none;
        background: none;
        img {
          width: 40px;
        }
      }
    }
    .content-main {
      min-height: 80vh;
      img {
        width: 160px;
      }
    }
  }
  .timeline-section {
    .timeline-list {
      position: relative;
      min-height: 80vh;
      padding: 0 0 80px 0;
      .left-logo {
        position: absolute;
        left: 0;
        top: 10%;
      }
      h6 {
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #fff;
        font-family: 'UntitledSans-Regular';
      }
      p {
        margin: 0;
        color: #fff;
        font-size: 14px;
        font-family: 'UntitledSans-Regular';
        line-height: 1.7;
      }
    }
    .content-main {
      min-height: 80vh;
      h2 {
        font-family: $apercu-pro-regular;
        font-size: 50px;
        color: #fff;
        font-weight: bold;
        // letter-spacing: -3.6px;
        line-height: 1.31;
        margin-bottom: 22px;
      }
      h3 {
        font-family: $apercu-pro-regular;
        color: #fff;
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: bold;
      }
      p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 12px;
        font-family: $sans-Regular;
      }
    }
  }
  .description-section {
    // border-top: 10px solid $dark-bg;
    // border-bottom: 10px solid $dark-bg;
    .content-main {
      min-height: 80vh;
      padding: 60px 0;
      h3 {
        font-family: $apercu-pro-regular;
        font-size: 50px;
        line-height: 1.31;
        font-weight: bold;
        // letter-spacing: -3.6px;
        margin-bottom: 18px;
      }
      p {
        font-size: 18px;
        margin-bottom: 0;
        font-family: $sans-Regular;
        color: #4c596a;
      }
      ul {
        padding-left: 20px;
        margin-top: 10px;
        li {
          font-size: 18px;
          margin-bottom: 10px;
          font-family: $sans-Regular;
          color: #4c596a;
        }
      }
    }
    &.requirement {
      .content-main p,
      .content-main ul li {
        font-size: 18px;
      }
    }
  }
  .image-section,
  .image-section2 {
    min-height: 80vh;
    // border-bottom: 10px solid $dark-bg;
  }
  .solution-section {
    // border-top: 10px solid $dark-bg;
    // border-bottom: 10px solid $dark-bg;
    overflow: hidden;
    background: rgb(31, 31, 36);
    background: linear-gradient(
      90deg,
      rgba(31, 31, 36, 1) 50%,
      rgba(254, 223, 230, 1) 50%
    );
    .content-main {
      min-height: 80vh;
      h3 {
        font-family: $apercu-pro-regular;
        font-size: 50px;
        font-weight: bold;
        // letter-spacing: -3.6px;
        line-height: 1.3;
        margin-bottom: 18px;
        color: #fff;
      }
      p {
        font-size: 18px;
        margin-bottom: 0;
        color: #fff;
        font-family: $apercu-light;
      }
      ul {
        padding-left: 20px;
        margin-top: 10px;
        li {
          font-size: 18px;
          margin-bottom: 10px;
          color: #fff;
          font-family: $apercu-light;
          color: #4c596a;
        }
      }
    }
    .image {
      min-height: 80vh;
    }
  }
  .technology-section {
    .left-logo-casestudy img {
      position: absolute;
      top: -10%;
    }
    background: #ffdfe6;
    .image,
    .content-main {
      min-height: 80vh;
      h3 {
        font-family: $apercu-pro-regular;
        font-size: 50px;
        line-height: 1.31;
        font-weight: bold;
        // letter-spacing: -3.6px;
        margin-bottom: 20px;
      }
      .list-group {
        .list-item {
          margin-bottom: 20px;
          h6 {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 18px;
          }
          p {
            font-size: 14px;
            margin: 0;
            font-family: $sans-Regular;
            color: #4c596a;
          }
        }
      }
    }
  }

  .save-section {
    background: #ffdfe6;
    .left-logo {
      position: absolute;
      left: 0;
      top: 10%;
    }
    .content-main {
      min-height: 80vh;
      h3 {
        font-family: $apercu-pro-regular;
        font-size: 50px;
        line-height: 1.31;
        font-weight: bold;
        // letter-spacing: -2.6px;
      }
      .btn-secondary {
        background: none;
        border: 2px solid $dark-bg;
        color: $dark-bg;
        padding-top: 18px;
        font-size: 18px;
        width: 160px;
        height: 70px;
      }
    }
  }
  .description-rockout {
    background: #1f1f24;
    h3 {
      color: #fff;
    }
    .content-main ul li,
    .content-main p {
      color: #fff;
    }
  }
}
.benign-health {
  &.case-study {
    .inner-banner {
      background: url('../../images/project/benign-banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .timeline-section {
      background: #e64873;

      .timeline-list {
        .list-group {
          margin-top: 13rem;
        }
      }
    }
    .image-section {
      background: url('../../images/project/section-banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .image-section2 {
      background: url('../../images/project/section-banner2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
.rockout-cloud {
  &.case-study {
    .inner-banner {
      background: url('../../images/project/rockout-banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .timeline-section {
      background: #64c5e7;
      .timeline-list {
        .list-group {
          margin-top: 14rem;
        }
      }
    }
    .image-section {
      // background: url('../../images/project/image-section-with-form.svg');
      // background-size: 100% 100%;
      // background-repeat: no-repeat;
      // background-position: center;
      background-color: #e3f7fe;
    }
    .image-section2 {
      background: url('../../images/project/section-banner2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .technology-section {
      background: #e2f8ff;
    }
    .solution-section {
      background: url('../../images/project/rockout-three-images.jpg');
      position: relative;
      min-height: 80vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .save-section {
      background: #e2f8ff;
    }
  }
}
.credibill {
  &.case-study {
    .inner-banner {
      background: url('../../images/project/credibll-banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .timeline-section {
      background: #17bf9c;

      .timeline-list {
        .list-group {
          margin-top: 14rem;
        }
      }
    }
    // .image-section {
    //   background: url('../../images/project/image-section-credibll.jpg');
    //   background-size: cover;
    //   background-repeat: no-repeat;
    // }
    .image-section2 {
      background: url('../../images/project/credibll-banner.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .technology-section {
      background: #dcfff8;
    }
    .solution-section {
      background: url('../../images/project/credibll-three.jpg');
      position: relative;
      min-height: 80vh;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .save-section {
      background: #dcfff8;
    }
    .description-section.des-section-border {
      background: #1f1f24;
      h3 {
        color: #fff;
      }
      .content-main ul li,
      .content-main p {
        color: #fff;
      }
    }
  }
}
.wells-fargo {
  &.case-study {
    .inner-banner {
      background: url('../../images/project/wells-fargo-banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .timeline-section {
      background: #cb1a14e3;

      .timeline-list .left-logo {
        position: absolute;
        left: 0;
        top: 7%;
      }
      .timeline-list {
        .list-group {
          margin-top: 12rem;
        }
      }
    }
    .image-section {
      background: #fee1e3;
      // background: url('../../images/project/wells-fargo-three.jpg');
      // background-size: cover;
      // background-repeat: no-repeat;
    }
    .image-section2 {
      background: url('../../images/project/credibll-banner.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .technology-section {
      background: #fee1e3;
    }
    .solution-section {
      background: url('../../images/project/well-fargo-four.jpg');

      position: relative;
      min-height: 80vh;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .save-section {
      background: #fee1e3;
    }
    // .description-section.des-section-border{
    //   background: #1F1F24;
    //   h3{
    //     color: #fff;
    //   }
    //   .content-main ul li,
    //   .content-main p{
    //     color: #fff;
    //   }
    // }
  }
}
.star-casualty {
  &.case-study {
    .inner-banner {
      background-color: #dbfdeb;
      background: url('../../images/project/star/star-bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 90vh;
      .content-main img {
        width: 400px;
      }
    }
    .timeline-section {
      background: #09a74e;
      .timeline-list {
        .list-group {
          margin-top: 14rem;
        }
      }
    }
    .image-section {
      // background: url('../../images/project/image-section-with-form.svg');
      // background-size: 100% 100%;
      // background-repeat: no-repeat;

      // background-position: center;
      background-color: #ddffec;
    }
    .image-section2 {
      background: url('../../images/project/star/main-screen.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .technology-section {
      background: #dbfdeb;
    }
    .solution-section {
      background: url('../../images/project/rockout-three-images.jpg');
      position: relative;
      min-height: 80vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .save-section {
      background: #ddffec;
      .content-main img {
        width: 220px;
      }
    }
    .left-logo img {
      width: 220px;
    }
  }
}
.ceu {
  &.case-study {
    .inner-banner {
      // background: url('../../images/project/credibll-banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .content-main img {
        width: 220px;
      }
    }
    .timeline-section {
      background: #31a599;
      .timeline-list {
        .list-group {
          margin-top: 14rem;
        }
      }
    }
    .image-section {
      // background: url('../../images/project/ceu-apps.jpg');
      background-size: cover;
      background-color: #31a59a;
      background-repeat: no-repeat;
    }
    .image-section2 {
      // background: url('../../images/project/ceu-apps.jpg');
      background-size: cover;
      background-color: #ebfffe;
      background-repeat: no-repeat;
    }
    // .image-section2 {
    //   background: url('../../images/project/ceu-apps.png');
    //   background-size: cover;
    //   background-color:#31a59a;
    //   background-repeat: no-repeat;
    // }
    .technology-section {
      background: #dcfff8;
    }
    .solution-section {
      // background: url('../../images/project/credibll-three.jpg');
      position: relative;
      min-height: 80vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .save-section {
      background: #dcfff8;
    }
    .description-section.des-section-border {
      background: #1f1f24;
      h3 {
        color: #fff;
      }
      .content-main ul li,
      .content-main p {
        color: #fff;
      }
    }
  }
}

/* for mobile */
@media only screen and (max-width: 767px) {
  .benign-health {
    &.case-study {
      .timeline-section {
        .left-logo {
          position: unset;
          top: unset;
        }
      }
    }
  }
  .star-casualty.case-study .inner-banner .content-main .image img {
    width: 200px;
  }
  .case-study .content-main h4 {
    font-size: 32px;
  }
  .case-study .content-main {
    height: auto;
    min-height: 680px;
  }
  .case-study .inner-banner .close-icon {
    top: 10px;
    right: 10px;
  }
  .benign-health.case-study {
    .inner-banner {
      background: url('../../images/project/benign-banner-mobile.jpg');
      background-size: cover;
    }
    .image-section {
      background: url('../../images/project/section-banner-ipad.jpg');
    }
    .image-section2 {
      background: url('../../images/project/section-banner2-ipad.jpg');
    }
  }
  .case-study .inner-banner .content-main .image {
    padding-bottom: 160px;
    img {
      width: 110px;
    }
  }
  .case-study .description-section .content-main {
    padding: 30px 0;
  }
  .case-study .timeline-section .timeline-list {
    min-height: auto;
  }

  .case-study .timeline-section .content-main {
    min-height: auto;
    padding: 190px 0 60px 0;
    .left-logo {
      top: 40px;
      position: absolute;
    }
  }
  .case-study .description-section .content-main h3,
  .case-study .solution-section .content-main h3,
  .case-study .technology-section .content-main h3,
  .case-study .description-section .content-main h3,
  .case-study .save-section .content-main h3 {
    font-size: 38px;
  }
  .wells-fargo.case-study .inner-banner {
    background-position: right;
    background: url('../../images/banking-mobile.jpg');
  }
  .case-study .timeline-section .timeline-list {
    height: auto;
    padding: 0% 0 60px 0;
    .list-group {
      display: contents;
      justify-content: space-between;
      .list-item {
        width: 50%;
      }
    }
  }
  .case-study .solution-section {
    background: $dark-bg;
  }
  .case-study .save-section h3 {
    margin-top: 25px;
  }

  .case-study .save-section .left-logo {
    left: 30px;
    top: -20px;
    display: contents;
  }
  .case-study .description-section.requirement .content-main ul,
  .case-study .solution-section .content-main ul {
    padding-bottom: 40px;
  }
  .case-study .description-section.requirement .content-main p,
  .case-study .description-section.requirement .content-main ul li,
  .case-study .solution-section .content-main ul li,
  .case-study .solution-section .content-main p,
  .case-study .description-section .content-main p {
    font-size: 16px;
    // color: #4c596a;
  }
  .case-study .timeline-section .content-main p {
    font-size: 16px;
  }
  .case-study .timeline-section .content-main h2 {
    font-size: 38px;
  }
  .case-study .technology-section .image,
  .case-study .technology-section .content-main {
    min-height: 64vh;
  }
  .case-study .save-section .content-main {
    min-height: 70vh;
  }
  .case-study .description-section .content-main {
    min-height: 77vh;
    padding: 30px 0 0 0;
  }
  // .wells-fargo.case-study .inner-banner {
  //   background-position: center;
  // }
  // .credibill.case-study .inner-banner {
  //   background-position: center;
  // }
  .rockout-cloud.case-study .solution-section {
    background: #e3f7fe;
    background-image: none;
  }
  .case-study.wells-fargo .inner-banner .content-main .image {
    padding-bottom: 0;
  }
  .case-study .inner-banner .close-icon button img {
    width: 30px;
  }
}
/* for mobile */
@media only screen and (min-width: 1460px) {
  .case-study .solution-section .content-main h3,
  .case-study .description-section .content-main h3,
  .case-study .save-section .content-main h3,
  .case-study .timeline-section .content-main h2 {
    // font-size: 5.2rem;
  }
  .case-study .save-section .content-main .btn-secondary {
    padding-top: 23px;
    height: 80px;
  }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .wells-fargo .timeline-section .timeline-list {
    min-height: 80vh !important;
  }
}
/* ipad portrait */
@media only screen and (max-width: 990px) and (min-width: 767px) {
  .benign-health.case-study {
    .inner-banner {
      background: url('../../images/project/benign-banner-ipad.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .image-section {
      background: url('../../images/project/section-banner-ipad.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .image-section2 {
      background: url('../../images/project/section-banner2-ipad.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .star-casualty.case-study .inner-banner .content-main img {
      width: 310px;
    }
  }

  .case-study .timeline-section .timeline-list .left-logo {
    top: 10%;
  }
  .case-study .timeline-section .timeline-list {
    position: relative;
    min-height: 60vh;
    padding: 20% 0 80px 0;
  }
  .case-study .technology-section .image,
  .case-study .save-section .content-main,
  .case-study .technology-section .content-main,
  .case-study .timeline-section .content-main,
  .case-study .description-section .content-main,
  .case-study .inner-banner .content-main {
    min-height: 70vh;
  }
  .case-study .description-section .content-main h3,
  .case-study .technology-section .content-main h3,
  .case-study .description-section .content-main h3,
  .case-study .save-section .content-main h3 {
    font-size: 50px;
  }
  .case-study .solution-section {
    background: $dark-bg;
  }
  .case-study .save-section .left-logo {
    top: 10%;
  }
  .case-study .description-section .content-main {
    padding: 10px 0;
  }
  .case-study.rockout-cloud .timeline-section .timeline-list .left-logo {
    top: 50px;
  }
  .case-study.rockout-cloud .timeline-section .timeline-list {
    position: relative;
    min-height: 70vh;
  }
  .rockout-cloud.case-study .solution-section {
    min-height: 40vh;
  }
  .rockout-cloud.case-study .description-section .content-main {
    min-height: 60vh;
  }
  .case-study .save-section .content-main {
    min-height: 50vh;
    h3 {
      padding-top: 120px;
    }
  }
  .case-study .content-main h4 {
    font-size: 20px;
  }
}

/* ipad Landsacpe */
@media only screen and (max-width: 1190px) and (min-width: 991px) {
  .case-study .content-main {
    height: auto;
    min-height: 760px;
  }
  .case-study .image-section2,
  .case-study .image-section {
    background-size: cover;
  }
  // .case-study .timeline-section .timeline-list {
  //   min-height: 96vh;
  // }
  .benign-health .case-study .technology-section .image,
  .case-study .technology-section .content-main {
    min-height: 70vh;
  }
  .wells-fargo .case-study .timeline-section .timeline-list {
    min-height: 70vh;
  }
  .star-casualty.case-study .inner-banner .content-main img {
    width: 280px;
  }
}
/* for mobile */
@media only screen and (max-width: 1500px) and (min-width: 1400px) {
}

@media only screen and (min-width: 1024px) {
  .left-logo-credibll img {
    position: absolute;
    width: 111px;
  }
  .wells-fargo {
    &.case-study {
      .timeline-section {
        .timeline-list {
          padding: 0 0 10px 0;
        }
      }
    }
  }
  .credibill {
    &.case-study {
      .timeline-section {
        .timeline-list {
          padding: 0 0 30px 0;
        }
      }
    }
  }

  .rockout-cloud {
    &.case-study {
      .timeline-section {
        .timeline-list {
          padding: 0 0 30px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wells-fargo {
    &.case-study {
      .technology-section {
        .left-logo {
          position: unset;
          top: unset;
        }
      }
    }
  }

  .benign-health {
    &.case-study {
      .technology-section {
        .left-logo-casestudy img {
          position: unset;
          top: unset;
        }
      }
    }
  }
}
