.contact-us {
  overflow-y: hidden;
  .inner-banner {
    .content {
      h1 {
        font-family: $narin-medium;
        font-weight: bold;
        padding-top: 20px;
      }
    }
  }

  .contact-form {
    position: relative;
    .content {
      background: #f8fafc;
      color: $text-grey;
      border-radius: 20px;
      padding: 30px 70px;
      margin-top: 40px;
      margin-bottom: 20px;
      position: relative;
      text-align: left;

      h2 {
        letter-spacing: -1px;
        font-family: $narin-medium;
        font-weight: bold;
        font-size: 50px;
        color: $text-grey;
      }
      p {
        font-size: 18px;
        font-family: $sans-Regular;
        color: $text-grey;
      }
      .form {
        .form-group {
          min-height: 110px;
          text-align: left;
        }
        label {
          text-transform: capitalize;
          font-family: $narin;
          color: $text-grey;
        }
        input.form-control,
        textarea.form-control {
          background: transparent;
          color: $text-grey;
          border-radius: 8px;
          border: 1px solid #d0d5dd;
          &:focus,
          &:active {
            outline: none;
            box-shadow: none;
            border-color: none;
          }
        }
        input.form-control {
          height: 50px;
          padding: 9px 15px !important;
        }
      }

      .information {
        h6 {
          opacity: 0.8;
          text-transform: uppercase;
          font-family: $narin;
          letter-spacing: 1.12px;
          color: $text-grey;
        }

        p {
          letter-spacing: -0.55px;
          font-family: $sans-Regular;
          font-size: 18px;
          color: $text-grey;
        }
      }
    }
    .thanks-design {
      text-align: left;
      padding: 60px 0;
      width: 100%;
      min-height: 520px;
      > div {
        background: #fff;
        border-radius: 18px;
        padding: 20px;
        margin-top: 4%;
        padding-top: 30px;
      }
      h3 {
        color: $text-grey;
        font-size: 2.5rem;
        font-weight: bold;
      }
      p {
        font-size: 18px;
        color: $text-grey;
        margin: 20px 0;
        padding: 0;
        font-family: $sans-Regular;
      }
    }
    .invalid-feedback,
    .text-danger {
      color: #fff !important;
    }
    .form-input {
      position: relative;
      .error {
        position: absolute;
        bottom: -25px;
        margin-bottom: 0;
        left: 0;
        font-size: 14px;
        color: red;
      }
    }
  }
}

/* for mobile */
@media only screen and (max-width: 767px) {
  .contact-us .inner-banner .content {
    min-height: 380px;
  }
  .contact-us .inner-banner .content h1 {
    font-size: 4.2rem;
    padding-top: 0;
  }

  .contact-us .contact-form .content {
    padding: 30px 20px;
  }

  .contact-us .contact-form .content h2 {
    font-size: 2.2rem;
  }

  .contact-us .contact-form .content .information p {
    font-size: 18px;
  }
  .contact-us .contact-form .thanks-design p {
    font-size: 18px;
    padding: 0;
  }
  .contact-us .contact-form .thanks-design h3 {
    font-size: 1.5rem;
  }
}

/* ipad portrait */
@media only screen and (max-width: 990px) and (min-width: 767px) {
  .contact-us {
    overflow-y: hidden;
  }

  .contact-us .inner-banner .content h1 {
    font-size: 6.2rem;
  }

  .contact-us .contact-form .content {
    padding: 30px 40px;
  }

  .contact-us .contact-form .content h2 {
    font-size: 2.2rem;
  }

  .contact-us .contact-form .content .information p {
    font-size: 18px;
  }
}

/* ipad Landsacpe */
@media only screen and (max-width: 1190px) and (min-width: 991px) {
  .contact-us .inner-banner .content h1 {
    font-size: 6.2rem;
  }

  .contact-us .contact-form .content {
    padding: 30px 40px;
  }

  .contact-us .contact-form .content .information p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .contact-us .inner-banner .content h1 {
    font-size: 5.8rem;
    padding-top: 80px;
  }
  .contact-us .inner-banner .content {
    min-height: 420px;
  }
}
@media only screen and (max-width: 1500px) and (min-width: 1400px) {
  .contact-us .inner-banner .content h1 {
    font-size: 5.8rem;
    padding-top: 80px;
  }
  .contact-us .contact-form .content h2 {
    font-size: 3.2rem;
  }
}
