//---- Dark Theme design
.dark-theme {
  .inner-clients {
    background: $dark-bg;
    color: $white;
    .inner-banner .content h1 span {
      color: $color-yellow;
    }
  }
}

//---- Light Theme design
.light-theme {
  .inner-clients {
    background: $white;
    .inner-banner .content h1 span {
      color: $color-yellow;
    }
  }
}

.inner-clients {
  overflow-x: hidden;
  .inner-banner {
    .content {
      padding: 120px 0 60px 0;
      position: relative;
      min-height: 520px;
      .icon {
        position: absolute;
        &.top-right {
          right: -170px;
          top: 100px;
        }
        &.bottom-right {
          bottom: -130px;
          left: -120px;
        }
      }
      h1 {
        font-family: $apercu-pro;
        letter-spacing: -3.5px;
        font-weight: bold;
        padding-top: 40px;
        line-height: 1.1;
      }
      p {
        padding: 20px 0 0 0;
      }
    }
  }
  .clients {
    padding-bottom: 30px;
    background: #f6f6f6;
    .image {
      text-align: center;
      padding: 20px 0;
      margin-bottom: 32px;
    }
    .clients-main {
      position: relative;
      .icon.top-right {
        position: absolute;
        right: -179px;
        top: -210px;
      }
    }
  }
}

/* for mobile */
@media only screen and (max-width: 767px) {
  .inner-clients .inner-banner .content {
    h1 {
      font-size: 3.2rem;
      padding-top: 0;
    }
  }
  .inner-clients .inner-banner .content p {
    font-size: 20px;
    padding: 20px 0 0 0;
  }
  .inner-clients .inner-banner .icon img,
  .clients-main .icon img {
    width: 100px;
  }
  .inner-clients .inner-banner .content .icon.top-right {
    right: -80px;
    top: 70px;
  }
  .inner-clients .inner-banner .content .icon.bottom-right {
    left: -70px;
    bottom: -50px;
  }
  .inner-clients .clients .clients-main .icon.top-right {
    right: -50px;
    top: -100px;
  }
  .inner-clients .clients {
    padding-bottom: 60px;
  }
  .inner-clients .inner-banner .content {
    min-height: 470px;
  }
  .inner-clients .clients .image img {
    width: 100%;
  }
  .inner-clients .clients .image {
    padding: 8px 0;
  }
  .inner-clients .inner-banner .content h1 {
    padding: 0 30px;
  }
}

/* ipad portrait */
@media only screen and (max-width: 990px) and (min-width: 767px) {
  .inner-clients .inner-banner .content {
    padding: 70px 0 30px 0;
    min-height: 480px;
    h1 {
      font-size: 5.2rem;
    }
  }
  .inner-clients .inner-banner .content p {
    font-size: 20px;
    padding: 20px 0 0 0;
  }
  .inner-clients .inner-banner .icon img,
  .clients-main .icon img {
    width: 210px;
  }
  .inner-clients .clients {
    padding-bottom: 80px;
  }
  .inner-clients .clients img {
    width: 100%;
  }
  .inner-clients .inner-banner .content .icon.bottom-right {
    bottom: -110px;
  }
  .inner-clients .clients .clients-main .icon.top-right {
    right: -79px;
    top: -120px;

    img {
      width: 160px;
    }
  }
}

/* ipad Landsacpe */
@media only screen and (max-width: 1190px) and (min-width: 991px) {
  .inner-clients .inner-banner .content {
    padding: 120px 0 50px 0;
    h1 {
      font-size: 5.2rem;
    }
  }
  .inner-clients .inner-banner .content p {
    padding: 40px 0 0 0;
  }
  .inner-clients .inner-banner .icon img,
  .clients-main .icon img {
    width: 260px;
  }
  .inner-clients .clients {
    padding-bottom: 90px;
  }
  .inner-clients .clients .clients-main .icon.top-right {
    right: -129px;
    top: -140px;
    img {
      width: 210px;
    }
  }
  .inner-clients .inner-banner .content .icon.bottom-right {
    left: -190px;
  }
}
@media only screen and (max-width: 1500px) and (min-width: 1400px) {
}
