.demo-page {
  margin-top: 90px;
  min-height: 500px;
  .content {
    background: #f8fafc;
    color: $text-grey;
    border-radius: 20px;
    padding:16px 30px;
    margin-top: 40px;
    position: relative;
    text-align: left;

    h2 {
      letter-spacing: -1px;
      font-family: $narin-medium;
      font-weight: bold;
      font-size: 50px;
      color: $text-grey;
    }
    p {
      font-size: 18px;
      font-family: $sans-Regular;
      color: $text-grey;
    }
  }
  .demo-1{
    #tabs {
      width: 100%;
      margin: 2rem 0;
      overflow: hidden;
    }
  
    #tabs menu {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 0.25rem;
    }
  
    #tabs button {
      font: inherit;
      font-size: 0.85rem;
      background-color: #282f33;
      border: none;
      border-bottom-color: #48d9f3;
      color: #e0eff1;
      border-radius: 4px 4px 0 0;
      padding: 0.75rem 1rem;
      cursor: pointer;
      transition: all 0.2s ease-out;
    }
  
    #tabs button:hover,
    #tabs button.active {
      background-color: #48d9f3;
      color: #273133;
    }
  
    #tab-content {
      background-color: #fff;
      border-radius: 0 4px 4px 4px;
      padding: 1rem;
    }
  
    #tab-content li {
      margin: 0.75rem 0;
    }
  }

}
