//---- Dark Theme design
.dark-theme {
  .feature-project {
    background: $dark-bg;
    color: $white;

    .inner-banner .content h1 span {
      color: $secondary-color;
    }
  }
}

//---- Light Theme design
.light-theme {
  .feature-project {
    background: $white;
    .inner-banner .content h1 span {
      color: $color-lotus;
    }
  }
}

.feature-project {
  .inner-banner {
    .content {
      padding: 160px 0 60px 0;
      h1 {
        padding-right: 10%;
        font-family: $apercu-pro;
        letter-spacing: -3.5px;
        font-weight: bold;
        padding-top: 20px;
        line-height: 1.1;
      }
      p {
        padding: 20px 40% 0 0;
        letter-spacing: -0.64px;
      }
    }
    .image-section {
      min-height: 520px;
    }
  }
}

/* for mobile */
@media only screen and (max-width: 767px) {
  .feature-project .inner-banner .content {
    h1 {
      font-size: 4.2rem;
    }
  }
  .feature-project .inner-banner .content p {
    font-size: 20px;
    padding: 20px 0% 0 0;
  }

  .feature-project .inner-banner .image-section {
    min-height: auto;
    img {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .feature-project .inner-banner .content {
    padding: 60px 0 10px 0;
  }
}

/* ipad portrait */
@media only screen and (max-width: 990px) and (min-width: 767px) {
  .feature-project .inner-banner .content {
    padding: 120px 0 30px 0;

    h1 {
      font-size: 5.2rem;
    }
  }

  .feature-project .inner-banner .content p {
    padding: 20px 0% 0 0;
  }

  .feature-project .inner-banner .image-section {
    min-height: 430px;

    img {
      width: 100%;
    }
  }
}

/* ipad Landsacpe */
@media only screen and (max-width: 1190px) and (min-width: 991px) {
  .feature-project .inner-banner .content {
    padding: 120px 0 50px 0;

    h1 {
      font-size: 5.2rem;
    }
  }

  .feature-project .inner-banner .content p {
    font-size: 20px;
    padding: 40px 30% 0 0;
  }

  .feature-project .inner-banner .image-section {
    min-height: 480px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1400px) {
  .feature-project .inner-banner .content h1 {
    font-size: 5.8rem;
  }
  .feature-project .inner-banner .content p {
    padding: 20px 34% 0 0;
  }
}
