$bannerHeight: 87vh;

//---- Dark Theme design
.dark-theme {
  /* overflow: hidden; */
  .banner {
    background:  #f8fafc;
    color: $black;
    .link {
      color: #dfdfdf;
      svg path {
        color: #dfdfdf;
        color: #dfdfdf;
      }
    }
    h1 {
      span {
        color: $secondary-color;
      }
    }
    .light {
      display: none;
    }
  }
 
  .deliver,
  .guideline {
    background: $dark-bg;
    color: $white;
  }
  .what-do {
    background: $white;
    .heading {
      h2 {
        color: $black;
        span {
          color: $color-yellow;
        }
      }

      a {
        color: $color-yellow;
      }

      svg path {
        fill: $color-yellow;
        stroke: $color-yellow;
      }
    }
  }
  .guideline {
    .light {
      display: none;
    }
    .anchor {
      &::after {
        border-bottom: solid 2px $white;
      }
    }
    .link {
      color: $white;

      svg path {
        fill: $white;
        stroke: $white;
      }
    }
  }

  .landing .clients {
    background: $color-lotus;
    color: $white;
    h2 {
      color: $white;
    }
    .anchor {
      &::after {
        border-bottom: solid 2px $white;
      }
    }
    .link {
      color: $white;
      svg path {
        fill: $white;
        stroke: $white;
      }
    }
  }
  .deliver {
    .services-box .mini-card {
      border-color: #4e4e55;
      .bottom-heading {
        border-color: #4e4e55;
      }
    }
  }

  .light {
    display: none;
  }
}
.blog-date {
  color: #555555;
  font-style: normal;
  font-size: 14px;
}
//---- Light Theme design
.light-theme {
  /* overflow: hidden; */

  .banner {
    background: $white;
    .link {
      color: $black;
      svg path {
        fill: $black;
        stroke: $black;
      }
    }
    h1 {
      span {
        color: $secondary-color;
      }
    }
    .dark {
      display: none;
    }
  }

  .what-do,
  .deliver,
  .guideline {
    background: $white;
  }
  .what-do {
    .heading {
      h2 {
        span {
          color: $color-yellow;
        }
      }
      a {
        color: $color-yellow;
      }
      svg path {
        fill: $color-yellow;
        stroke: $color-yellow;
      }
    }
  }

  .guideline {
    .dark {
      display: none;
    }
    .anchor {
      &::after {
        border-bottom: solid 2px $text-grey;
      }
    }
    .link {
      color: $text-grey;
      svg path {
        fill: $text-grey;
        stroke: $text-grey;
      }
    }
  }
  .deliver {
    .services-box .mini-card {
      border-color: #0000001f;
      .bottom-heading {
        border-color: #0000001f;
      }
    }
  }

  .landing .clients {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f6f6;
    .anchor {
      &::after {
        border-bottom: solid 2px $text-grey;
      }
    }
  }
  .dark {
    display: none;
  }
}
.section-subheading {
  h6 {
    font-family: $apercu-pro-regular;
    font-weight: bold;
    letter-spacing: 1.12px;
  }
}
.position-up {
  position: relative;
  z-index: 1;
}
//---- Landing page design
.banner {
  .content-section {
    min-height: $bannerHeight;
    h1 {
      font-size: 5.9rem;
      font-family: $apercu-pro;
      letter-spacing: -1.5px;
      font-weight: bold;
    }
    p {
      font-size: 24px;
      line-height: 1.333;
      font-family: $sans-Regular;
      letter-spacing: -0.03em;
    }
    .link {
      font-weight: bold;
    }
  }
  .svg-icon {
    min-height: $bannerHeight;
    img {
      width: 120%;
    }
  }
  .light img {
    width: 80%;
  }
}
.what-do {
  padding-top: 20px;
  .port-img img,
  .port-img svg {
    width: 100%;
  }
  .heading {
    h2 {
      font-size: 5.25rem;
      font-family: $apercu-bold;
      letter-spacing: -0.05em;
    }
  }
  .anchor {
    &::after {
      border-bottom: solid 2px $color-yellow;
    }
  }
  .port-img {
    position: relative;
    .image {
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }
    .content {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      text-align: left;
      width: 420px;
      top: -3%;
      right: 31%;
      z-index: 9;
      transform: translate(50%, -20%);
      -ms-transform: translate(50%, -20%);
      .text {
        background-color: #2d2d33;
        color: white;
        font-size: 16px;
        padding: 20px;
        border-radius: 10px;
        p {
          margin: 0;
          padding-right: 36%;
          font-size: 18px;
          font-family: $sans-Regular;
          letter-spacing: -0.03em;
        }
        h5 {
          font-size: 32px;
          font-weight: bold;
          padding: 6px 0 20px 0;
        }
        span {
          font-size: 15px;
          display: none;
          font-family: $apercu-light;
        }
        .icon {
          width: 60px;
          height: 60px;
          display: block;
          position: absolute;
          right: 4%;
          bottom: 6%;
        }
      }
    }
    &:hover .content {
      opacity: 1;
    }
    &.bottom-right {
      .content {
        top: auto;
        right: 31%;
        bottom: 0;
        z-index: 9;
        transform: translate(50%, -20%);
        -ms-transform: translate(50%, -20%);
      }
    }
  }
}
.guideline {
  padding: 0 0 60px 0;
  .content-section {
    .content {
      padding-top: 20px;
      padding-bottom: 160px;
      &:last-child {
        padding-bottom: 190px;
      }
    }
  }
  h2 {
    font-size: 5.25rem;
    font-family: $apercu-bold;
    letter-spacing: -0.05em;
    span {
      color: $secondary-color;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.778;
    font-family: $sans-Regular;
    letter-spacing: -0.03em;
  }
  img {
    width: 96%;
  }
}
.deliver {
  padding: 0 0 60px 0;
  h2 {
    font-size: 5.25rem;
    font-family: $apercu-bold;
    letter-spacing: -0.05em;
    // letter-spacing: -4.2px;
    span {
      color: $color-orange;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.778;
    font-family: $sans-Regular;
    letter-spacing: -0.03em;
  }
  .services-box {
    h6 {
      font-size: 1.05rem;
      font-family: $sans-Bold;
    }
    p {
      margin: 0;
    }
    .mini-card {
      border-radius: 12px;
      border: 2px solid;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      .bottom-heading {
        border-top: 2px solid;
        padding: 16px 8px 16px 16px;
      }
      &:hover {
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
        border-color: $color-lotus;
        .bottom-heading {
          border-color: $color-lotus;
          img {
            opacity: 0.8;
          }
        }
      }
      &.design:hover {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
        border-color: $color-lotus;
        .bottom-heading {
          border-color: $color-lotus;
          img {
            opacity: 0.8;
          }
        }
      }
    }
    .min-height {
      min-height: 550px;
    }
  }
}
.landing .clients {
  h3 {
    font-weight: bold;
    font-family: $apercu-pro;
    font-size: 3.375rem;
    letter-spacing: -0.05em;
    padding: 70px 0 0 0;
    span {
      color: $color-orange;
    }
  }
  .link {
    color: $text-grey;
    font-weight: bold;
    svg path {
      fill: $text-grey;
      stroke: $text-grey;
    }
  }
}
.blog {
  background: #f6f6f6;
  .heading {
    h2 {
      font-size: 3.375rem;
      font-weight: bold;
      letter-spacing: -0.05em;
    }
    a {
      color: $color-lotus;
      font-weight: bold;
      svg path {
        fill: $color-lotus;
        stroke: $color-lotus;
      }
    }
  }
  .card {
    border: none;
    background: none;
    .cardimage {
      img {
        width: 100%;
      }
      margin: 0 0 28px 0;
    }
    h4 {
      font-size: 2.1rem;
      letter-spacing: -1.02px;
      font-weight: bold;
      font-family: $apercu-pro-regular;
      min-height: 80px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .link {
      color: $color-lotus;
      font-weight: bold;
      svg path {
        fill: $color-lotus;
        stroke: $color-lotus;
      }
    }
  }
}

.modal-design {
  .content-section {
    background: #303034;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
  }
  .modal-dialog {
    max-width: 100%;
  }
  .content-modal {
    padding: 0 12px;
  }
  .modal-content {
    width: 100%;
    background: none;
    border: none;
    .modal-header {
      border: none;
      padding-bottom: 0;
      .close {
        text-shadow: none;
        color: #fff;
        opacity: 1;
        font-weight: normal;
        font-size: 48px;
        padding-top: 8px;
        padding-right: 18px;
        padding-bottom: 0;
      }
    }
    .modal-body {
      padding: 1rem 40px;
      position: relative;
      overflow: hidden;
      min-height: 570px;
      .form {
        .form-group {
          min-height: 120px;
        }
        label {
          color: #fff;
        }
        .cs-radio {
          input {
            visibility: hidden;
            position: absolute;
          }
          label {
            border: 1px solid $white;
            margin: 0 12px 0 0;
            border-radius: 8px;
            padding: 18px 8px 10px 8px;
            height: 60px;
            text-align: center;
            cursor: pointer;
            min-width: 66px;
          }
          input:checked ~ label {
            background: #fff;
            color: #434343;
          }
        }
      }
      .modal-image {
        position: absolute;
        left: 56%;
        bottom: -58px;
      }
      .thanks-design {
        text-align: center;
        padding: 60px 0;
        min-height: 500px;
        width: 100%;
        .icon {
          position: absolute;
          &.bottom {
            bottom: 0;
          }
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
        }
        h3 {
          color: #fff;
          font-size: 4rem;
          font-weight: bold;
        }
        p {
          font-size: 22px;
          color: #fff;
          margin: 20px 0;
          padding: 0 30%;
          font-family: $sans-Regular;
        }
      }
    }
  }
  .content {
    h3 {
      font-size: 70px;
      color: #fff;
      font-weight: bold;
    }
    p {
      font-size: 22px;
      color: #fff;
      font-family: $sans-Regular;
    }
  }
}
.consultation-bar {
  background: #1f1f24;
  color: $white;
  padding: 32px 0;
  h5 {
    font-size: 1.5rem;
    font-family: $apercu-light;
  }
}

/* for mobile */
@media only screen and (max-width: 767px) {
  .banner {
    padding-top: 60px;
    height: auto;
    .content-section {
      min-height: 590px;
      h1 {
        font-size: 2.6rem;
        letter-spacing: -0.6px;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
      .btn.xxl {
        min-width: 260px;
        padding: 14px 22px;
      }
    }
    .svg-icon {
      min-height: auto;

      img {
        width: 100%;
      }
    }
  }
  .what-do .port-img .content {
    top: -1%;
  }

  .what-do .heading h2 {
    font-size: 32px;
  }
  .what-do .port-img .content .text {
    h5 {
      font-size: 22px;
      padding: 20px 0 10px 0;
    }
    p {
      padding-right: 20%;
      font-size: 16px;
    }
  }
  .guideline .content-section .content {
    padding-top: 0px;
    padding-bottom: 0;
    &:last-child {
      padding-bottom: 0px;
    }
  }
  .what-do .port-img .content {
    width: 310px;
    right: 44%;
  }
  .what-do .port-img.bottom-right .content {
    top: auto;
    right: 44%;
  }
  .guideline {
    padding: 0 0 10px 0;
    h2 {
      font-size: 32px;
      letter-spacing: -0.05em;
      padding-right: 0;
    }
    p {
      font-size: 18px;
    }
  }
  .deliver {
    padding: 0;
    h2 {
      font-size: 32px;
      letter-spacing: -0.05em;
      padding-right: 60px;
    }
    p {
      font-size: 16px;
    }
    .services-box .min-height {
      min-height: auto;
    }
  }
  .blog .card h4 {
    font-size: 24px;
    line-height: 1.556;
    min-height: auto;
  }

  .blog .heading h2 {
    font-size: 32px;
  }

  .landing .clients {
    h3 {
      font-size: 1.8rem;
      letter-spacing: -1px;
      padding: 40px 0 0 0;
    }
    padding-bottom: 2rem !important;
    .image {
      text-align: center;
      img {
        width: 80%;
      }
    }
  }

  .testimonial {
    padding-top: 30px;
    .card .card-box {
      padding: 16px 12px;
    }
  }

  .testimonial .sub-heading {
    img {
      width: 50%;
    }
    h4 {
      padding-right: 0;
    }
  }

  .testimonial .card {
    padding: 0 14px 0 0;
  }
  .testimonial {
    padding-top: 60px;
  }
  .review-section .heading h2 {
    font-size: 3.6rem;
    padding-top: 90px;
  }
  .review-section .heading p {
    font-size: 20px;
  }
  .review-animation {
    height: auto;
    .card {
      width: 100%;
    }
  }
  .review-section .heading {
    padding: 0;
  }
  .review-animation .card {
    padding: 0;
  }
  .modal-design.modal.show {
    padding-left: 0 !important;
  }
  .modal-design .modal-content .modal-body {
    padding: 1rem 20px;
  }
  .modal-design .content h3 {
    font-size: 30px;
  }
  .modal-design .content-modal {
    padding: 0;
  }
  .modal-design .content p {
    font-size: 16px;
    color: #fff;
  }
  .modal-design .modal-content .modal-body .thanks-design p {
    font-size: 18px;
    padding: 0;
  }
  .modal-design .modal-content .modal-body .thanks-design .icon.bottom img {
    width: 120px;
  }
  .modal-design .modal-content .modal-body .thanks-design h3 {
    color: #fff;
    font-size: 2rem;
    padding: 40px ​0;
  }
}

/* for mobile */
@media only screen and (max-width: 380px) {
  .banner .content-section h1 {
    font-size: 2.6rem;
  }
}

/* ipad portrait */
@media only screen and (max-width: 990px) and (min-width: 767px) {
  .banner {
    height: auto;
    padding: 70px 0 20px 0;
    .content-section {
      min-height: auto;
      h1 {
        font-size: 5.5rem;
      }
    }
    .svg-icon {
      min-height: auto;
      img {
        width: 70%;
      }
    }
  }
  header .navbarEffect {
    border: none !important;
    box-shadow: none !important;
  }
  .modal-design .content h3 {
    font-size: 50px;
  }
  .what-do .heading h2 {
    font-size: 3.7rem;
  }
  .what-do .port-img .content .text {
    h5 {
      font-size: 30px;
      padding: 20px 0 10px 0;
    }
    p {
      padding-right: 20%;
      font-size: 16px;
    }
  }
  .what-do .port-img .content {
    width: 310px;
    right: 41%;
  }
  .what-do .port-img.bottom-right .content {
    top: auto;
    right: 41%;
  }
  .guideline h2 {
    font-size: 2.3rem;
    padding-right: 20%;
  }
  .guideline p {
    font-size: 16px;
    line-height: 1.778;
  }
  .guideline img {
    width: 70%;
  }
  .deliver h2 {
    font-size: 4rem;
  }
  .deliver {
    padding: 0;
  }
  .landing .clients img {
    width: 100%;
  }
  .blog .heading h2 {
    font-size: 2.3rem;
  }
  .blog .card h4 {
    font-size: 30px;
    min-height: auto;
  }

  .testimonial .card .card-box {
    padding: 16px 12px;
  }
  .testimonial .sub-heading h4 {
    padding-right: 0;
  }
  .testimonial .card {
    padding: 0 14px 0 0;
  }
  .guideline .content-section .content {
    padding-top: 0;
    padding-bottom: 80px;
  }
  .guideline .content-section .content:last-child {
    padding-bottom: 0;
  }
  .modal-design .modal-content .modal-body .thanks-design p {
    padding: 0 10%;
  }
  .modal-design .modal-content .modal-body .thanks-design .icon.bottom img {
    width: 220px;
  }
  .deliver .services-box .min-height {
    min-height: auto;
  }
  .landing .clients {
      padding-bottom: 0rem !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .what-we-deliver {
    display: flex;
    align-items: center;
  }
}

/* ipad Landsacpe */
@media only screen and (max-width: 1190px) and (min-width: 991px) {
  .banner {
    padding: 60px 0 0 0;
    height: 670px;
    .content-section h1 {
      font-size: 3.7rem;
    }
  }
  .what-do .heading h2 {
    font-size: 3.7rem;
  }
  .what-do .port-img.bottom-right .content {
    right: 40%;
  }
  .what-do .port-img .content {
    right: 40%;
  }
  .guideline h2 {
    font-size: 3.7rem;
  }
  .deliver h2 {
    font-size: 4rem;
  }
  .blog .heading h2 {
    font-size: 2.9rem;
  }
  .blog .card h4 {
    font-size: 1.7rem;
    min-height: auto;
  }
  .testimonial .card {
    padding: 0 14px 0 0;
  }
  .testimonial .card .card-box {
    padding: 22px 16px;
  }
  .banner .svg-icon,
  .banner .content-section {
    min-height: 590px;
  }
  .banner {
    .svg-icon img {
      width: 100%;
    }
  }
  .blank-section {
    height: 700px;
  }
  .review-section .heading h2 {
    font-size: 4.6rem;
    padding-top: 90px;
  }
  .review-section .heading p {
    font-size: 24px;
  }
  .review-animation .card {
    width: 100%;
  }
  .review-animation {
    height: auto;
  }
  .review-section {
    height: 768px;
  }
  .modal-design .modal-content .modal-body {
    padding: 1rem 20px;
    .form .cs-radio label {
      min-width: 46px;
    }
    .content h3 {
      font-size: 50px;
    }
    .content h3 {
      font-size: 50px;
    }
  }
  .modal-design .modal-content .modal-body .thanks-design p {
    padding: 0 12%;
  }
  .modal-design .modal-content .modal-body .modal-image {
    left: 45%;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1270px) {
  .banner {
    height: 500px;
    .svg-icon {
      min-height: 500px;
      img {
        width: 100%;
      }
    }
    .content-section {
      min-height: 500px;
      h1 {
        padding-right: 20px;
        font-size: 4.5rem;
      }
      p {
        font-size: 18px;
        margin: 0 0 6px 0 !important;
      }
    }
  }
  .deliver h2 {
    padding-right: 40px;
  }
  .what-do .heading h2,
  .guideline h2,
  .landing .clients h3,
  .deliver h2 {
    font-size: 4.3rem;
  }
  .guideline h2 {
    letter-spacing: -2.2px;
  }
  .guideline p,
  .deliver p {
    font-size: 18px;
  }
  .landing .clients img {
    width: 60%;
  }
  .what-do .port-img .content {
    width: 370px;
  }
  .what-do .port-img .content .text {
    h5 {
      font-size: 28px;
      padding: 16px 0 10px 0;
    }
    p {
      padding-right: 20%;
    }
  }

  .blog .heading h2 {
    font-size: 3.1rem;
  }
  .blog .card h4 {
    font-size: 2rem;
  }
  .what-do .port-img.bottom-right .content,
  .what-do .port-img .content {
    right: 31%;
  }
  .review-section .heading h2 {
    padding-top: 90px;
  }
  .modal-design .modal-content .modal-body .form input {
    height: 52px;
  }
  .modal-design .modal-content .modal-body .form .cs-radio label {
    padding: 14px 8px 10px 8px;
    height: 52px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1400px) {
  .banner .svg-icon,
  .banner .content-section {
    min-height: 590px;
  }
  .banner {
    .content-section {
      h1 {
        font-size: 5rem;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .what-do .heading h2,
  .guideline h2,
  .deliver h2 {
    font-size: 4.6rem;
  }
  .what-do .port-img .content {
    width: 370px;
  }
  .what-do .port-img .content .text {
    h5 {
      font-size: 28px;
      padding: 16px 0 10px 0;
    }
    p {
      padding-right: 20%;
    }
  }
  .blog .heading h2 {
    font-size: 3.1rem;
  }
  .blog .card h4 {
    font-size: 2rem;
  }
  .what-do .port-img.bottom-right .content,
  .what-do .port-img .content {
    right: 28%;
  }
  .review-section .heading h2 {
    padding-top: 90px;
  }
  .modal-design .content p {
    font-size: 18px;
  }
  .modal-design .content h3 {
    font-size: 56px;
  }
  .modal-design .modal-content .modal-body .form input {
    height: 52px;
  }
  .modal-design .modal-content .modal-body .form .cs-radio label {
    padding: 14px 8px 10px 8px;
    height: 52px;
  }
  .modal-design .content h3 {
    font-size: 60px;
  }
  .modal-design .content p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1500px) {
  .banner .content-section .btn.xxl {
    font-size: 18px;
    width: 320px;
  }
  .banner .svg-icon,
  .banner .content-section {
    min-height: 740px;
  }
}
