.inner-services {
  .building-process {
    min-height: 340px;
    h2 {
      margin: 0;
      font-size: 50px;
      color: $text-grey;
      text-align: left;
      font-weight: bold;
      font-family: $narin-medium;
    }
    p {
      color: $text-grey;
      margin: 15px 0 60px 0;
      font-size: 30px;
      text-align: left;
    }
  }
  .services-bar {
    text-align: left;
    h4{
      font-size: 32px;
      color: $text-grey;
      font-family: $narin-medium;
    }
    p {
      color: $text-grey;
      margin: 15px 0 20px 0;
      font-size: 20px;
      text-align: left;
    }
    .list-group .item{
      border-bottom: 1px solid #e0e3ed;
      ul{
        padding: 0 0 10px 20px;
        li{
          font-size: 16px;
          margin: 0 0 9px;
          color: $text-grey;
          list-style-type: disc;
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
   
  }
}
.consultation-bar {
  background-color: #ebf1f7;
  color: $text-grey;
  padding: 32px 0;
  h5 {
    font-size: 1.5rem;
    font-family: $narin-medium;
  }
}
