.building-process{
  min-height: 300px;
  h2 {
    margin: 0;
    font-size: 44px;
    color: $black;
    text-align: left;
    font-weight: bold;
    font-family: $narin-medium;
  }
  p {
    color: $black;
    margin: 15px 0 60px 0;
    font-size: 20px;
    text-align: left;
  }
}